<h1>hello</h1>

<p>WHat up, what up!!!!</p>

<form enctype="multipart/form-data" action="/image" method="post">
  <input type="file" name="Image">
  <input type="submit" value="upload">
</form>

<img src="<%= params[:image_name] %>">

