<% if session[:id] %>

  <div class="login_register_box">

    <form enctype="multipart/form-data" action="/uploads" method="post">
      <input type="file" name="Image">
      <input type="submit" value="upload">
    </form>

    <% @sql_upload.user_uploads(session[:id]).each do |filepath| %>
      <div id="image">
        <!--<img src="<%#= AWS.s3.buckets["frameit_bucket"].objects[filepath['filepath']].public_url %>"-->
             <!--id="upload"-->
        <!-->-->

        <form method="post" action="/uploads/<%= filepath["id"] %>">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" value="Delete Picture"/>
        </form>

        <form method="post" action="/select/<%= filepath["id"] %>">
          <input id=select name=select type=submit value=Select>
        </form>

      </div>

    <% end %>

  </div>
<% else %>

  <div class="login_register_box">

    <section>
      <div class="login">
        <form action="/login" method="POST">
          <label for=username>Username</label>
          <input type=text id=username name=username required>

          <label for=password>Password</label>
          <input type=text id=password name=password required>

          <input type=submit value=Login>
        </form>
      </div>

      <div class="register">
          <a href="/register">Register Now</a>
      </div>

    </section>

  </div>

<% end %>

