<% if session[:id] %>

  <div class="login_register_box">

    <form enctype="multipart/form-data" action="/uploads" method="post">
      <input type="file" name="Image">
      <input type="submit" value="upload">
    </form>



    <% if @sql_upload.user_uploads(session[:id]) != [] %>


      <% @sql_upload.user_uploads(session[:id]).each do |filepath| %>
        <div id="image">
          <img src="<%= filepath['filepath'] %>"
               id="upload"
          >

          <form method="post" action="/uploads/<%= filepath["id"] %>">
            <input type="hidden" name="_method" value="delete"/>
            <input type="submit" value="Delete Picture"/>
          </form>
        </div>

      <% end %>

    <% end %>

  </div>
<% else %>

  <div class="login_register_box">

    <section>
      <div class="login">
        <form action="/login" method="POST">
          <label for=username>Username</label>
          <input type=text id=username name=username required>

          <label for=password>Password</label>
          <input type=text id=password name=password required>

          <input type=submit value=Login>
        </form>
      </div>
    </section>

    <div class="register">
      <section>
        <a href="/register">Register Now</a>
      </section>
    </div>

  </div>

<% end %>

