body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#image {
    display: inline-block;
    padding: 20px;
    width: 25%;
    min-width: 200px;

}

#upload {
    width: 200px;

}

h1 {
    color: deeppink;
    display: inline-block;
}
p {
    color: #4e0072;
}

label {
    color: #4e0072;
}
body {
    background-color: white;
}

input {
    color: #4e0072;
}

#container {
    max-width: 960px;
    background-color: none;
    margin: auto;
}

header {
    background-color: #650292;
    padding: 10px;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -10px;
    display: block;
    margin-bottom: 20px;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.register {
    max-width: 150px;
    display: inline-block;
    text-align: left;
}

.login {
    max-width: 150px;
    display: inline-block;
    visibility: center;
}

.login_register_box {
    margin: auto;
    max-width: 600px;
    min-width: 200px;
    border: thick solid #d296ee;
    padding: 20px;
}

link {
    style: none;
}

#flash {
    margin: auto;
    max-width: 600px;
    color: deeppink;
    /*background-color: deeppink;*/
    padding: 10px;
}

#logout {
    margin-right: 0;
    text-align: right;
    display: inline-block;


}
#logo {
    display: inline-block;
    text-align: left;

}


#navigation {
    display: inline-block;
    text-align: right;
}

#canvas {
    width: 200px;
}