#upload {
    width: 200px;

}

h1 {
    color: #f2542c;
}
p {
    color: #ffe066;
}
body {
    background-color: #ffe066;
}

#container {
    max-width: 960px;
    background-color: none;
    margin: auto;
}

header {
    background-color: #016573;
    padding: 10px;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -10px;
    display: block;
    margin-bottom: 20px;
}